
/target/
**/*.rs.bk
# Cargo.lock

*.log

flamegraph.svg

# games/*.save.json

# The following games have solutions that run in the JS port
# but fail in the Rust port
/games/alien-disco.parsed.json.save.json
/games/always-magnets.parsed.json.save.json
/games/bubble-butler.parsed.json.save.json
/games/closure-demake.parsed.json.save.json
/games/collapsable-sokoban.parsed.json.save.json
/games/dungeon-janitor.parsed.json.save.json
/games/easy-enigma.parsed.json.save.json
/games/electric-wire.parsed.json.save.json
/games/hack-the-net.parsed.json.save.json
/games/herding-hero.parsed.json.save.json
/games/i-herd-u-liek-water-templs.parsed.json.save.json
/games/programaze.parsed.json.save.json
/games/spider-s-hollow.parsed.json.save.json
/games/vines.parsed.json.save.json
